.triggered-component, .triggered-container {
    position:relative;
    padding-top: 10px;
    z-index: 10;
}

.triggered-icon-colors {
    .icon {
        display: inline;
        padding:@item-padding;
        color:@item-text-color;
        background-color:@secondary-color;
        &:hover {
            color:@primary-color;
            background-color:#3fb8fb;
            
        }
    }
}

.triggered-button-show {
    position:absolute;
    text-decoration: none;
    .triggered-icon-colors;
}

.triggered-button-hide {
    display:block;
    position:absolute;
    left: 5px;
    top: -15px;
    text-decoration: none;
    .triggered-icon-colors;
}

.triggered-hidden {
    visibility: hidden;
}

.hide-icon {
    visibility: hidden;
}

.transparent-button {
    position:absolute;
    height:50px;
    width:100px;
    cursor:default;
}