<div class="webObject-inner component-inner">
	    {{> component this}}
	
	<div class="webObject-component">
		<object type="{{_webObject.type}}" data="{{_webObject.data}}" width="{{_webObject.width}}" height="{{_webObject.height}}">
	    </object>
	</div>
	
</div>
