{{! Maintainers - Daryl Hedley}}
{{! All links in the nav bar should have an attritbue of data-event, navigationView uses this to fire a global event}}
<div class="navigation-inner clearfix">
	<a href="#" class="navImage" data-event="tccsButton"><img src="course/en/images/tccs-logo-colour.png" height="50"></a>
    <a href="#" class="navigation-drawer-toggle-button icon icon-book" data-event="toggleDrawer" alt="Drawer"></a>
	<a href="#" class="navigation-back-button icon icon-controls-small-left" data-event="backButton" alt="Back button"></a>
</div>