{{! Maintainers - Kevin Corry}}



{{#if _trickle._isEnabled}}
<a href="#" class="trickle-button icon icon-chevron-down trickle-button-right">
    {{else}}
<a href="#" class="trickle-button icon icon-chevron-down">    
  <h6>    
      {{{_trickle.button}}}
    {{/if}}
  </h6>
</a>