{{! Maintainers - Niall Deighan}}
<div class="component-inner">
	{{> component this}}

	<div class="targetPage-component">
		<a href="#/id/{{{targetId}}}" class="{{#if _isVisited}}visited{{/if}}">
			{{{linkText}}}
		</a>
	</div>

</div>
