<div class="resources-inner">
	{{#each resources}}
	<div class="resources-item drawer-item {{_type}}">
		<a class="resources-item-open drawer-item-open" target="_blank" href="{{_link}}">
			<div class="drawer-item-title">
				<h5 class="drawer-item-title-inner">{{{title}}}</h5>
			</div>
			<div class="drawer-item-description">
				<div class="drawer-item-description-inner">{{{description}}}</div>
			</div>
		</a>
	</div>
	{{/each}}
</div>